@import "../../styles/mixins.scss";

.earnings{
    // border: 1px solid #fff;
    padding-block: 5rem;

    &_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 6rem 4rem;

        @include respond(tab-port){
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }

    img{
        width: 100%;
        
    }

    h2{
        font-size: 2.7rem;
        line-height: 1.2;
        text-transform: capitalize;

        @include respond(phone){
            font-size: 2rem;
        }
    }

    p{
        margin-block: 1rem 2rem;
    }
}